.content{
    padding: 1em;
    min-height: 69%;
    display: grid;
    grid-template-columns: 50% 45%;
    column-gap: 3em;
}   
    main{
        background: #f6f6f6;
        overflow-y: scroll;
        padding: 1em;
    }

        main img{
            float: left;
            min-width: 305px;
            max-width: 90%;
            max-height: 350px;
            margin-right: 1em;
            margin-bottom: 0.8em;
        }
        main h2{
            margin: 0;
            font-size: 2em;
        }


    aside{
        background-color: #f6f6f6;
        overflow-y: auto;
        max-height: 100%;
    }
        .visit{
            height: 65%;
            max-width: 100%;
            margin-bottom: 0;
            display: block;
            grid-template-rows: 4fr 1fr ;
        }

        aside h1{
            text-align: start;
            height: 40%;
            text-align: center;
            margin: 0;
        }
        .visit-null img{
            max-width: 100%;
            max-height: 100%;
        }

        .visit-button{
            text-align: center;

        }
        .visit-button a{
            
        }

        #visited{
            text-align: center;
            min-width: 10%;
            width: 15%;
            background-color: #2FD32C;
            color: #131111;
            border-radius: 25%;
            position: relative;
            left: 40%;
        }

        @media screen and (max-width: 940px){
            .content{
                display: block;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }