body{
    max-width: 100vw

}

.content{
    max-width: 100%;
    display: grid;
    grid-template-rows: 40% 55%;
    row-gap: 1em;
    margin-bottom: 1em;
}

    main{
        height: 100%;
        max-width: 100%;
        padding: 1em;
        background-color: #f9f9f9;
        margin: 0.5em 1em;
        overflow-y: auto;
        padding: 1.5em;
    }
    .main-letter img{
        float: right;
        max-width: 40%;
        max-height: 60%;
    }



    aside{
        border-bottom: 3px dashed black;
        border-top: 3px dashed black;
        background-color: #f9f9f9;
        margin: 1em 1em;
        padding: 1.5em;
    }
        .list{
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .list ul{
            margin-left: 2em;
            position: relative;
            top: 1em;
            left: 3em;
        }
        .list img{
            float: left;
            max-width: 70%;
            max-height: 100%;
            margin-right: 2em;
            min-width: 155px;
            min-height: 174;
        }

        .list ul li{
            margin-bottom:1.5em;
        }

@media screen and (max-width: 616px){
    .content{
        display: block;
    }
    .list img{
        max-width: 100%;
    }
    .main-letter img{
        max-width: 60%;
    }
}