.content{
    min-height: 69%;
    max-width: 150%;
    margin: 1em;
    display: grid;
    grid-template-columns:  1.1fr 1fr;
    column-gap: 2em;
}
    main{
        max-height: 70%;
        max-width: 100%;
        padding: 1em;
        overflow-y: auto;
        display: grid;
        background-color: inherit;
        grid-template-rows: 1fr 4fr;
        padding-left: 5%;
        overflow-y: auto;
        overflow-x: hidden;
    }
        main h1{
            margin-bottom: 0;
            max-height: 20%;
            font-size: 3.5em;
            letter-spacing: 0.08em;
        }

        main form{
            background-color: #F1F1F1;
            display: flex;
            flex-direction: column;
            max-width: 450px;
            max-height: 80%;
            min-width: 265px;
            min-height: 176px;
            padding: 0.3em;
            margin: 0.3em;
            border: 2px solid #c3c3c3;
            margin-bottom: 1em;
            margin-left: 1em;
        }

            .contact *{
                margin: 0.3em 0;
            }
            
            main form input{
                min-height: 30px;
                color: #c3c3c3;
                max-height: 8%;
                min-height: 40px;
                max-width: 450px;

            }

            #msg{
                margin-bottom: 1em;
                font-size: 1.5em;
                color: #c3c3c3;
                max-width: 450px;

            }

            #send{
                align-self: flex-end;
                min-height: 40px;
                min-width: 55px;
                background-color: #131111;
                max-height: 10%;
                max-width: 50%; 
                border-radius: 0.4em;
                color: #fff;
            }

    aside{
        padding: 2em;
        max-width: 100%;
        max-height: 100%;
        display: grid;
        background-color: #F1F1F1;
        grid-template-rows: 2fr 2fr;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
    }
        .contact-img{
            text-align: center;
            max-width: 100%;
            max-height: 100%;
        }
            .contact-img img{
                min-width: 276px;
                min-height: 171px;
                max-width: 100%;
                max-height: 100%;
            }
        
        .socialcontact{
            display: flex;
            flex-direction: column;

        }
            .socialcontact *{
                margin: 0.7em;
                margin-bottom: 0.3em;
            }

            .socialcontact img{
                float: left;
                width: 58px;
                height: 58px;
            }

            .socialcontact a{
                position: relative;
                top: 1.2em;
                padding-left: 1em;
                font-weight: bold;
                font-size: 1em;
                color: #131111;
            }

@media screen and (max-width:1263px){
    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
   
}

@media screen and (max-width: 656px){
    main form{
        height: 391px;
    }
    main {
        height: 550px;
        padding-bottom: 0;
        overflow: hidden;
    }
}
